stage/
libreoffice-oxt/*.dic
libreoffice-oxt/*.aff
libreoffice-oxt/license.txt
opera/*.dic
opera/*.aff
opera/license.txt
opera/README*
firefox/dictionaries/
firefox/license.txt
wordlist_cache.html
wordlist/**
!wordlist/test*
!wordlist/headall
!wordlist/*.sed
/*.dic
/*.oxt
