stage/
libreoffice-oxt/*.dic
libreoffice-oxt/*.aff
libreoffice-oxt/license.txt
opera/*.dic
opera/*.aff
opera/license.txt
opera/README*
firefox-legacy/dictionaries/
firefox-legacy/license.txt
firefox43/dictionaries/
firefox43/license.txt
wordlist_cache.html
wordlist/**
!wordlist/test*
!wordlist/headall
!wordlist/*.sed
hunspell/*.dic
/*.oxt
